body {
  /* background-image: url('/bg.jpg'); */
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  /* background-color: transparent; */
  background-color: #091328;
}

/* index.css */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #1f2937; /* Tailwind's gray-800 */
}

::-webkit-scrollbar-thumb {
  background-color: #facc15; /* Tailwind's yellow-400 */
  border-radius: 6px;
  border: 2px solid transparent;
  background-clip: content-box;
}


.home-section::-webkit-scrollbar {
  display: none;
}

.home-section {
  -ms-overflow-style: none;  /* IE/Edge */
  scrollbar-width: none;     /* Firefox */
}

.blog1img3{
  /* position:absolute; */
  width: 100%;
  /* z-index: 1; */
}